/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
}

@media screen and (min-width: 575px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    padding-top: 20px;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 575px) {
  .heading-container {
    margin-bottom: 10px;
  }
}

.ipl-log {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

@media screen and (min-width: 575px) {
  .ipl-log {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
}

.main-heading {
  font-size: 35px;
  color: #ffffff;
  font-family: 'Bree Serif';
}

@media screen and (min-width: 575px) {
  font-size: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
  padding: 10px;
}

@media screen and (min-width: 575px) {
  .cards-container {
    padding: 40px;
    padding-top: 5px;
    width: 100%;
  }
}
